In [15]:
import pandas as pd
import re

In [262]:
us_state_capitals = pd.read_csv('us-state-capitals.csv','r',delimiter=',')
avocado_year = pd.read_csv('avocado_year.csv')
avocado_year

,Unnamed: 0,year,states,type,average_price,total_volume,type4046,type4225,type4770,total_bags,small_bags,large_bags,xlarge_bags
0,1,2015,Albany,conventional,1.171923,3.962854e+06,53969.48,3211741.19,34777.34,6.623662e+05,6.442316e+05,1.799707e+04,137.50
1,2,2015,Albany,organic,1.905577,6.704225e+04,1667.41,8085.41,0.00,5.728943e+04,5.724085e+04,4.858000e+01,0.00
2,3,2015,Atlanta,conventional,1.052308,2.289802e+07,18082575.70,1840105.14,39408.62,2.935926e+06,1.862749e+06,1.072294e+06,882.16
3,4,2015,Atlanta,organic,1.708846,3.336830e+05,97272.38,175345.41,0.00,6.106524e+04,1.874496e+04,4.232028e+04,0.00
4,5,2015,Baltimore/Washington,conventional,1.168077,3.994336e+07,2940393.60,25345911.00,2345450.61,9.311602e+06,9.073243e+06,2.348849e+05,3474.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...
643,644,2020,Total U.S.,organic,1.530417,9.559898e+07,5799565.13,7950621.67,240688.37,8.160703e+07,5.269339e+07,2.873939e+07,174242.33
644,645,2020,West,conventional,0.996250,4.079237e+08,92231896.14,50978029.51,1953431.00,2.626737e+08,1.215408e+08,1.356901e+08,5442794.45
645,646,2020,West,organic,1.570000,1.788518e+07,1266862.56,1537299.87,49685.55,1.503133e+07,7.834648e+06,7.189612e+06,7076.13
646,647,2020,West Tex/New Mexico,conventional,0.814167,5.426212e+07,19013314.38,4625688.87,1901538.35,2.872157e+07,1.761727e+07,1.089291e+07,211399.01
647,648,2020,West Tex/New Mexico,organic,1.502708,1.386024e+06,46229.92,45768.72,113942.02,1.180083e+06,9.924567e+05,1.876277e+05,0.00

In [271]:
us_state_capitals = pd.read_csv('us-state-capitals.csv','r',delimiter=',')
avocado_year = pd.read_csv('avocado_year.csv')
avocado_year
new=''

for i in range(len(avocado_year['states'])):
    if  re.match(r'\w+\s?\w+/',str(avocado_year['states'][i])) != None:
        new = re.findall(r'(\w+\s?\w+)/',avocado_year['states'][i])
        avocado_year['states'][i] = new[0]

avocado_year["states"].unique()
for i in range(len(avocado_year['states'])):
    if avocado_year['states'][i] == 'Boise':
               avocado_year['states'][i] = "Boise City"
new

<ipython-input-271-439fb9e99342>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  avocado_year['states'][i] = new[0]
<ipython-input-271-439fb9e99342>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  avocado_year['states'][i] = "Boise City"

['West Tex']

In [266]:
us_cities_top_1k = pd.read_csv('us-cities-top-1k.csv','r',delimiter=',')
us_cities_top_1k

              City           State  Population        lat         lon
0       Marysville      Washington       63269  48.051764 -122.177082
1           Perris      California       72326  33.782519 -117.228648
2        Cleveland            Ohio      390113  41.499320  -81.694361
3        Worcester   Massachusetts      182544  42.262593  -71.802293
4         Columbia  South Carolina      133358  34.000710  -81.034814
..             ...             ...         ...        ...         ...
995  West New York      New Jersey       52122  40.787879  -74.014306
996        Everett   Massachusetts       42935  42.408430  -71.053663
997         Linden      New Jersey       41301  40.622048  -74.244590
998      Asheville  North Carolina       87236  35.595058  -82.551487
999        Compton      California       97877  33.895849 -118.220071

[1000 rows x 5 columns]

In [267]:
diff = [x for x in avocado_year["states"].unique() if x not in us_cities_top_1k['City'].unique()]
geographic_region = ['California','West','Plains','South Central','Great Lakes','Northeast','Midsouth','Southeast']
diff

['California',
 'Great Lakes',
 'Midsouth',
 'Northeast',
 'Northern New England',
 'Plains',
 'South Carolina',
 'South Central',
 'Southeast',
 'Total U.S.',
 'West',
 'West Tex']

In [ ]:
avocado_year.to_csv('avocado_year_cleaned.csv')

In [220]:
new={}
result = []
r = []
for i in range(len(us_cities_top_1k['City'])):
    new[us_cities_top_1k['City'][i]] = us_cities_top_1k['State'][i]
for i in avocado_year["states"].unique():
    if i in new:
        r.append(new[i])
        if new[i] == "California":
            result.append(i)
total = 0
for i in result:
    total += sum(avocado_year[avocado_year["states"]== i]['total_volume'])
    
total

1556603141.8400002

In [181]:
avocado_year[avocado_year["states"] == "California"]

    Unnamed: 0  year      states          type total_volume  xlarge_bags
12          13  2015  California  conventional  2.95438e+08       199155
13          14  2015  California       organic  5.96956e+06            0
120        121  2016  California  conventional  3.17488e+08   1.3599e+06
121        122  2016  California       organic  8.70034e+06            0
228        229  2017  California  conventional  3.09227e+08  2.81838e+06
229        230  2017  California       organic  8.41715e+06            0
336        337  2018  California  conventional  3.17494e+08  3.95521e+06
337        338  2018  California       organic  1.00117e+07            0
444        445  2019  California  conventional  3.32946e+08   1.0279e+07
445        446  2019  California       organic  1.15419e+07      1233.93
552        553  2020  California  conventional  3.57211e+08  1.68308e+07
553        554  2020  California       organic  1.74428e+07            0

In [142]:
avocado_year[avocado_year["states"] == "BufCaliforniafalo"]

    Unnamed: 0  year   states          type total_volume xlarge_bags
10          11  2015  Buffalo  conventional  5.74222e+06      133.34
11          12  2015  Buffalo       organic       151013           0
118        119  2016  Buffalo  conventional  6.98666e+06     35211.7
119        120  2016  Buffalo       organic       218451           0
226        227  2017  Buffalo  conventional  7.35042e+06     40982.5
227        228  2017  Buffalo       organic       389882           0
334        335  2018  Buffalo  conventional  8.47543e+06       28090
335        336  2018  Buffalo       organic       858905           0
442        443  2019  Buffalo  conventional  9.10095e+06     56994.4
443        444  2019  Buffalo       organic       593724           0
550        551  2020  Buffalo  conventional  1.07632e+07      123200
551        552  2020  Buffalo       organic       570025           0